extends layout

block content
  h1= 'Faasm.js PoC'
  p This is the Faasm.js PoC
  a(href="/func/hello") Hello function
  br
  a(href="/func/chain") Chain function
  br
  a(href="/func/state") State function
